<<<<<<< HEAD
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.major{
	height: 100%;
	width: 100%;
	background-image: url(bg-img.png);
	 background-position: center;
	background-size: cover;
	 position: absolute;
}
.formbox{
	width: 380px;
	height: 540px;
	border-radius: 40px;
	position: relative;
	margin: 6% auto;
	background: white;
	padding: 5px;
	overflow: hidden;
}
.buttonbox{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
button:focus{
	outline: 0;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
/*	outline: none; */
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border-radius: 30px;
	transition: 0.5s;

}
.socialicons{
	margin: 30px auto;
    text-align: center;
}
.socialicons img{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 50%;

}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}


#login{
	left: 50px;
	
}
#register{
	left: 450px;
}
.psw{
	float: right;
	padding-top: 16px;
	font-size: 12px;
}
=======
*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
.major{
	height: 100%;
	width: 100%;
	background-image: url(bg-img.jpg);
	 background-position: center;
	background-size: cover;
	 position: absolute;
}
.formbox{
	width: 380px;
	height: 540px;
	border-radius: 40px;
	position: relative;
	margin: 6% auto;
	background: white;
	padding: 5px;
	overflow: hidden;
}
.buttonbox{
	width: 220px;
	margin: 35px auto;
	position: relative;
	box-shadow: 0 0 20px 9px #ff61241f;
	border-radius: 30px;
}
button:focus{
	outline: 0;
}
.toggle-btn{
	padding: 10px 30px;
	cursor: pointer;
	background: transparent;
	border: 0;
/*	outline: none; */
	position: relative;
}
#btn{
	top: 0;
	left: 0;
	position: absolute;
	width: 110px;
	height: 100%;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border-radius: 30px;
	transition: 0.5s;

}
.socialicons{
	margin: 30px auto;
    text-align: center;
}
.socialicons img{
	width: 30px;
	margin: 0 12px;
	box-shadow: 0 0 20px 0 #7f7f7f3d;
	cursor: pointer;
	border-radius: 50%;

}
.input-group{
	top: 180px;
	position: absolute;
	width: 280px;
	transition: 0.5s;
}
.input-field{
	width: 100%;
	padding: 10px 0;
	margin: 5px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 1px solid #999;
	outline: none;
	background: transparent;
}
.submit-btn{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: linear-gradient(to right, #ff105f,#ffad06);
	border: 0;
	outline: none;
	border-radius: 30px;
}


#login{
	left: 50px;
	
}
#register{
	left: 450px;
}
.psw{
	float: right;
	padding-top: 16px;
	font-size: 12px;
}
>>>>>>> upstream/master
